html, body {
    height: 100%;
    color: #8d8d8d;
    background: #2D2D2D;
}

h1 {
    margin: 20px 0 15px 0;
}

#main {
    width: 600px;
    margin: 0 auto;
    text-align: left;
}

ul {
    list-style: none;
}

ul>li:hover {
    background-color: #4e4e4e;
}

.form-inline .form-control {
    width: 50%;
    margin-left: 80px;
}

.marked {
    color: rgb(255, 0, 0);
    text-decoration: line-through;
}

.unmarked {
    color: #61fb88;
}

.icon {
    margin: 6px 10px 6px 0;
}
